  <!-- Breadcome start-->
  <div class="col-12">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="breadcome-list map-mg-t-40-gl shadow-reset">
            <div class="row">
              <div class="col-sm-6">
                <div class="breadcome-heading">
                  <h2><i class="fa fa-plus"></i> เพิ่มหนังใหม่</h2>
                </div>
              </div>
              <div class="col-sm-6">
                <ul class="breadcome-menu">
                  <li><a [routerLink]="['/',AppURL.Home]"><i class="fa fa-home"></i>หน้าหลัก</a> <span
                      class="bread-slash">/</span>
                  </li>
                  <li><span class="bread-blod">เพิ่มหนัง</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Breadcome End-->

  <div class="row">
    <div class="col-lg-12">
      <div class="sparkline12-list shadow-reset mg-t-30 container-fluid">
        <div class="sparkline12-hd">
          <div class="main-sparkline12-hd">
            <h1><i class="fa fa-film"></i> เพิ่มรายละเอียดหนัง</h1>
            <!-- <div class="sparkline12-outline-icon">
              <h4>
                <a data-toggle="collapse" data-parent="#accordion8" href="#collapse8" style="color:#fff;"> <i
                    class="fa fa-chevron-up"></i></a>
              </h4>

            </div> -->
          </div>
        </div>
        <div class="sparkline12-graph">
          <div class="basic-login-form-ad" id="collapse8" class="panel-collapse panel-ic collapse in">
            <div class="row">
              <div class="col-lg-12">
                <div class="all-form-element-inner">
                  <form [formGroup]="Form" (submit)="onSubmit()">
                    <div class="form-group-inner">
                      <div class="row">
                        <div class="col-lg-3">
                          <label class="login2 pull-right pull-right-pro">ชื่อหนัง</label>
                        </div>
                        <div class="col-lg-9">
                          <input type="text" class="form-control" formControlName="nameMovie" />
                        </div>
                      </div>
                    </div>
                    <div class="form-group-inner">
                      <div class="row">
                        <div class="col-lg-3">
                          <label class="login2 pull-right pull-right-pro">ลิ้งค์ตัวอย่างหนัง</label>
                        </div>
                        <div class="col-lg-9">
                          <input type="text" class="form-control" formControlName="linkPreview" />
                        </div>
                      </div>
                    </div>
                    <div class="form-group-inner">
                      <div class="row">
                        <div class="col-lg-3 col-md-9 col-sm-9 col-xs-9">
                          <label class="login2 pull-right pull-right-pro">
                            เสียงพากษ์</label>
                        </div>
                        <div class="col-lg-9 col-md-3 col-sm-3 col-xs-3">
                          <div class="bt-df-checkbox" style="margin-right:none;">
                            <label class="" style="float:left;"> <input class="pull-left radio-checked" type="radio"
                                checked="" value="THAI" id="optionsRadios1" name="soundTrack"
                                formControlName="soundTrack">THAI</label>
                            <label class="" style="float:left;margin-left: 10px;margin-right: 10px;"><input
                                class="pull-left" type="radio" value="ENGLISH" id="" name="soundTrack"
                                formControlName="soundTrack">ENGLISH</label>

                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group-inner">
                      <div class="row">
                        <div class="col-lg-3 col-md-9 col-sm-9 col-xs-9">
                          <label class="login2 pull-right pull-right-pro">
                            ความละเอียด</label>
                        </div>
                        <div class="col-lg-9 col-md-3 col-sm-3 col-xs-3">
                          <div class="bt-df-checkbox" style="margin-right:none;">
                            <label class="" style="float:left;"> <input class="pull-left radio-checked" type="radio"
                                checked="" value="HD" id="optionsRadios1" name="resolution"
                                formControlName="resolution">HD</label>
                            <label class="" style="float:left;margin-left: 10px;margin-right: 10px;"><input
                                class="pull-left" type="radio" value="ZM" id="" name="resolution"
                                formControlName="resolution">ZM</label>

                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group-inner">
                      <div class="row">
                        <div class="col-lg-3">
                          <label class="login2 pull-right pull-right-pro">หมวดหมู่</label>
                        </div>
                        <div class="col-lg-9">
                          <div class="form-select-list">
                            <select class="form-control custom-select-value" name="account" formControlName="group">
                              <option value="{{item}}" *ngFor="let item of groupMovie">{{item}}</option>
                              >
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group-inner">
                      <div class="row">
                        <div class="col-lg-3">
                          <label class="login2 pull-right pull-right-pro">เลือกประเภทหนัง</label>
                        </div>
                        <div class="col-lg-9">
                          <div class="form-select-list">
                            <select class="form-control custom-select-value" name="account" formControlName="type">
                              <option value="{{item}}" *ngFor="let item of typeMovie">{{item}}</option>
                            </select>

                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group-inner">
                      <div class="row">
                        <div class="col-lg-3">
                          <label class="login2 pull-right pull-right-pro">คะแนน</label>
                        </div>
                        <div class="col-lg-9">
                          <input type="number" class="form-control" max="10" min="0" step="0.1"
                            formControlName="rating" />
                        </div>
                      </div>
                    </div>
                    <div class="form-group-inner">
                      <div class="row">
                        <div class="col-lg-3">
                          <label class="login2 pull-right pull-right-pro">เรื่องย่อ</label>
                        </div>
                        <div class="col-lg-9">
                          <textarea name="comment" class="form-control" cols="30" rows="10"
                            formControlName="summary"></textarea>
                        </div>
                      </div>
                    </div>
                    <div class="form-group-inner">
                      <div class="row">
                        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                          <label class="login2 pull-right pull-right-pro">เลือกภาพปกหนัง</label>
                        </div>
                        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                          <div class="file-upload-inner file-upload-inner-right ts-forms">
                            <div class="input append-small-btn">
                              <div class="file-button">
                                Browse
                                <input type="file"
                                  onchange="document.getElementById('append-small-btn').value = this.value;"
                                  (change)="changeImage($event)" accept="image/*">
                              </div>
                              <input type="text" id="append-small-btn" placeholder="ยังไม่ได้เลือกรูปภาพ">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group-inner">
                      <div class="row">
                        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                          <label class="login2 pull-right pull-right-pro">เลือกไฟล์หนัง</label>
                        </div>
                        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                          <div class="file-upload-inner file-upload-inner-right ts-forms">
                            <div class="input append-big-btn">
                              <label class="icon-left" for="append-big-btn">
                                <i class="fa fa-download"></i>
                              </label>
                              <div class="file-button">
                                Browse
                                <input type="file"
                                  onchange="document.getElementById('append-big-btn').value = this.value;"
                                  accept="video/*" (change)="changeVideo($event)">
                              </div>
                              <input type="text" id="append-big-btn" placeholder="ยังไม่ได้เลือกหนัง">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group-inner">
                      <div class="login-btn-inner">
                        <div class="row">
                          <div class="login-horizental cancel-wp pull-right">
                            <div class="col-lg-6">
                              <button class="btn  btn-white login-button login-button-lg btn-block"><a
                                  (click)="onCancel()">ยกเลิก</a> </button>
                            </div>
                            <div class="col-lg-6">
                              <button class="btn  btn-primary login-submit-cs login-button login-button-lg btn-block"
                                type="submit" [disabled]="Form.invalid || isDisabled">บันทึก</button>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                    <app-loading *ngIf="showLoading"></app-loading>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
