  <!-- Breadcome start-->
  <div class="col-12">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="breadcome-list map-mg-t-40-gl shadow-reset">
            <div class="row">
              <div class="col-sm-6">
                <div class="breadcome-heading">
                  <h2>กีฬา</h2>
                </div>
              </div>
              <div class="col-sm-6">
                <ul class="breadcome-menu">
                  <li><a [routerLink]="['/',AppURL.Home]"><i class="fa fa-home"></i>หน้าหลัก</a> <span
                      class="bread-slash">/</span>
                  </li>
                  <li><span class="bread-blod">กีฬา</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Breadcome End-->
  <!-- accordion start-->
  <app-loading *ngIf="showLoading"></app-loading>
  <div class="adminpro-accordion-area">
    <div class="container-fluid">

      <div class="row justify-content-center mx-auto">
        <div class="col-lg-3 col-md-4 col-sm-6 mx-auto" *ngFor="let item of movies">
          <div class="admin-pro-accordion-wrap mg-b-15 shadow-reset">
            <div class="alert-title">
              <a class="holder_wrap" (click)="(onPlayMovie(item))">
                <img class="size-img" src="https://drive.google.com/uc?id={{item.idImageUpload}}" />
                <div class="inner_position_top">
                  {{item.nameMovie}}
                </div>
                <div class="star">
                  <b><span>{{item.rating}}</span></b>
                </div>
                <div class="hd {{item.resolution}}">{{item.resolution}}</div>
              </a>
            </div>
            <div class="panel-group adminpro-custon-design" id="accordion">
              <div class="panel panel-default">
                <div class="panel-heading accordion-head">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#{{item._id}}">
                      เรื่องย่อ...</a>
                  </h4>
                </div>
                <div id="{{item._id}}" class="panel-collapse panel-ic collapse">
                  <div class="panel-body admin-panel-content animated bounce">
                    <p>{{item.summary}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>


    </div>
  </div>



  <!-- accordion End-->
