  <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
  <!-- Header top area start-->
  <div class="wrapper-pro">
    <!-- Header top area start-->
    <div class="content-inner-all">
      <div class="header-top-area">
        <div class="fixed-header-top">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 ">
                <div class="header-right-info custom-left">
                  <ul class="nav navbar-nav mai-top-nav header-right-menu">
                    <li class="nav-item">
                      <a data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle"
                        [routerLink]="['/',AppURL.Home]">
                        <i class="fa big-icon fa-home"></i>
                        <span class="admin-name">หน้าหลัก</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="#" data-toggle="dropdown" role="button" aria-expanded="false"
                        class="nav-link dropdown-toggle" [routerLink]="['/',AppURL.Hot]">
                        <i class="fa big-icon fa-hacker-news"></i>
                        <span class="admin-name">มาแรง 2019</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="#" data-toggle="dropdown" role="button" aria-expanded="false"
                        class="nav-link dropdown-toggle" [routerLink]="['/',AppURL.Asia]">
                        <i class="fa big-icon fa-film"></i>
                        <span class="admin-name">หนังเอเชีย</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="#" data-toggle="dropdown" role="button" aria-expanded="false"
                        class="nav-link dropdown-toggle" [routerLink]="['/',AppURL.Europe]">
                        <i class="fa big-icon fa-eur"></i>
                        <span class="admin-name">หนังฝรั่ง</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="#" data-toggle="dropdown" role="button" aria-expanded="false"
                        class="nav-link dropdown-toggle" [routerLink]="['/',AppURL.Popular]">
                        <i class="fa big-icon fa-hand-pointer-o"></i>
                        <span class="admin-name">ยอดนิยม</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="#" data-toggle="dropdown" role="button" aria-expanded="false"
                        class="nav-link dropdown-toggle">
                        <i class="fa big-icon fa-th-list"></i>
                        <span class="admin-name">ประเภทหนัง</span>
                        <span class="author-project-icon adminpro-icon adminpro-down-arrow"></span>
                      </a>
                      <ul role="menu" class="dropdown-header-top author-log dropdown-menu animated flipInX ">
                        <li><a [routerLink]="['/',AppURL.Action]"><i class="fa fa-arrow-right"></i> บู้</a>
                        </li>
                        <li><a [routerLink]="['/',AppURL.Adventure]"><i class="fa fa-arrow-right"></i> ผจญภัย</a>
                        </li>
                        <li><a [routerLink]="['/',AppURL.Cartoon]"><i class="fa fa-arrow-right"></i> การ์ตูน</a>
                        </li>
                        <li><a [routerLink]="['/',AppURL.Reallife]"><i class="fa fa-arrow-right"></i> ชีวิตจริง</a>
                        </li>
                        <li><a [routerLink]="['/',AppURL.Funny]"><i class="fa fa-arrow-right"></i> ตลก</a>
                        <li><a [routerLink]="['/',AppURL.Crime]"><i class="fa fa-arrow-right"></i> อาชญากรรม</a>
                        </li>
                        <li><a [routerLink]="['/',AppURL.Family]"><i class="fa fa-arrow-right"></i> ครอบครัว</a>
                        </li>
                        <li><a [routerLink]="['/',AppURL.Fairytale]"><i class="fa fa-arrow-right"></i> เทพนิยาย</a>
                        </li>
                        <li><a [routerLink]="['/',AppURL.Historical]"><i class="fa fa-arrow-right"></i>
                            ประวัติศาสตร์</a>
                        </li>
                        <li><a [routerLink]="['/',AppURL.Horror]"><i class="fa fa-arrow-right"></i> สยองขวัญ</a>
                        <li><a [routerLink]="['/',AppURL.Investigation]"><i class="fa fa-arrow-right"></i>
                            สืบสวนสอบสวน</a>
                        </li>
                        <li><a [routerLink]="['/',AppURL.War]"><i class="fa fa-arrow-right"></i> สงคราม</a>
                        </li>
                        <li><a [routerLink]="['/',AppURL.Romantic]"><i class="fa fa-arrow-right"></i> โรแมนติก</a>
                        </li>
                        <li><a [routerLink]="['/',AppURL.Sport]"><i class="fa fa-arrow-right"></i> กีฬา</a>
                        </li>
                        <li><a [routerLink]="['/',AppURL.Porn]"><i class="fa fa-arrow-right"></i> โป้</a>
                        </li>
                      </ul>
                    </li>
                  </ul>

                </div>
              </div>



              <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <div class="header-right-info menu-right">
                  <ul class="nav navbar-nav mai-top-nav header-right-menu">
                    <li class="nav-item dropdown">
                      <a href="#" data-toggle="dropdown" role="button" aria-expanded="false"
                        class="nav-link dropdown-toggle">
                        <span class="adminpro-icon adminpro-chat-pro"></span>
                        <span class="indicator-ms"></span>
                      </a>
                      <div role="menu" class="author-message-top dropdown-menu animated flipInX">
                        <div class="message-single-top">
                          <h1>Message111</h1>
                        </div>
                        <ul class="message-menu">
                          <li>
                            <a href="#">
                              <div class="message-img">
                                <img src="../assets/img/message/1.jpg" alt="">
                              </div>
                              <div class="message-content">
                                <span class="message-date">16 Sept</span>
                                <h2>Advanda Cro</h2>
                                <p>Please done this project as soon possible.</p>
                              </div>
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <div class="message-img">
                                <img src="../assets/img/message/4.jpg" alt="">
                              </div>
                              <div class="message-content">
                                <span class="message-date">16 Sept</span>
                                <h2>Sulaiman din</h2>
                                <p>Please done this project as soon possible.</p>
                              </div>
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <div class="message-img">
                                <img src="../assets/img/message/3.jpg" alt="">
                              </div>
                              <div class="message-content">
                                <span class="message-date">16 Sept</span>
                                <h2>Victor Jara</h2>
                                <p>Please done this project as soon possible.</p>
                              </div>
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <div class="message-img">
                                <img src="../assets/img/message/2.jpg" alt="">
                              </div>
                              <div class="message-content">
                                <span class="message-date">16 Sept</span>
                                <h2>Victor Jara</h2>
                                <p>Please done this project as soon possible.</p>
                              </div>
                            </a>
                          </li>
                        </ul>
                        <div class="message-view">
                          <a href="#">View All Messages</a>
                        </div>
                      </div>
                    </li>
                    <li class="nav-item"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false"
                        class="nav-link dropdown-toggle"><i class="fa fa-bell-o" aria-hidden="true"></i><span
                          class="indicator-nt"></span></a>
                      <div role="menu" class="notification-author dropdown-menu animated flipInX">
                        <div class="notification-single-top">
                          <h1>Notifications</h1>
                        </div>
                        <ul class="notification-menu">
                          <li>
                            <a href="#">
                              <div class="notification-icon">
                                <span class="adminpro-icon adminpro-checked-pro"></span>
                              </div>
                              <div class="notification-content">
                                <span class="notification-date">16 Sept</span>
                                <h2>Advanda Cro</h2>
                                <p>Please done this project as soon possible.</p>
                              </div>
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <div class="notification-icon">
                                <span class="adminpro-icon adminpro-cloud-computing-down"></span>
                              </div>
                              <div class="notification-content">
                                <span class="notification-date">16 Sept</span>
                                <h2>Sulaiman din</h2>
                                <p>Please done this project as soon possible.</p>
                              </div>
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <div class="notification-icon">
                                <span class="adminpro-icon adminpro-shield"></span>
                              </div>
                              <div class="notification-content">
                                <span class="notification-date">16 Sept</span>
                                <h2>Victor Jara</h2>
                                <p>Please done this project as soon possible.</p>
                              </div>
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <div class="notification-icon">
                                <span class="adminpro-icon adminpro-analytics-arrow"></span>
                              </div>
                              <div class="notification-content">
                                <span class="notification-date">16 Sept</span>
                                <h2>Victor Jara</h2>
                                <p>Please done this project as soon possible.</p>
                              </div>
                            </a>
                          </li>
                        </ul>
                        <div class="notification-view">
                          <a href="#">View All Notification</a>
                        </div>
                      </div>
                    </li>
                    <li class="nav-item" *ngIf="Auth">
                      <a href="#" data-toggle="dropdown" role="button" aria-expanded="false"
                        class="nav-link dropdown-toggle">
                        <span class="adminpro-icon adminpro-user-rounded header-riht-inf"></span>
                        <span class="admin-name">สำหรับผู้ดูแล</span>
                        <span class="author-project-icon adminpro-icon adminpro-down-arrow"></span>
                      </a>
                      <ul role="menu" class="dropdown-header-top author-log dropdown-menu animated flipInX">
                        <li><a [routerLink]="['/',AppURL.Auth,AuthURL.AddMovie]"><i class="fa fa-plus"></i>
                            เพิ่มหนัง</a>
                        </li>
                        <li><a [routerLink]="['/',AppURL.Auth,AuthURL.Setting]"><i class="fa fa-cog"></i>
                            ตั้งค่า</a>
                        </li>
                        <li><a (click)="(onLogout())" class="logout"><i class="fa fa-key"></i> ออกจากระบบ</a>
                        </li>
                      </ul>
                    </li>
                    <li class="nav-item" *ngIf="!Auth">
                      <a href="#" data-toggle="dropdown" role="button" aria-expanded="false"
                        class="nav-link dropdown-toggle">
                        <span class="adminpro-icon adminpro-user-rounded header-riht-inf"></span>
                        <span class="admin-name">สำหรับผู้ดูแล</span>
                        <span class="author-project-icon adminpro-icon adminpro-down-arrow"></span>
                      </a>
                      <ul role="menu" class="dropdown-header-top author-log dropdown-menu animated flipInX">

                        <li><a [routerLink]="['/',AppURL.Login]"><i class="fa fa-key"></i> เข้าสู่ระบบ</a>
                        </li>
                      </ul>
                    </li>

                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Header top area end-->
      <div style="padding-left:10%;padding-right:10%;margin-bottom: 10%; margin-top: 5rem !important;">

        <ng-content></ng-content>
      </div>
    </div>
  </div>

  <!-- Footer Start-->
  <div class="footer-copyright-area">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="footer-copy-right">
            <p>ติดต่อเรา &#169; ดูหนังออนไลน์ 2019 by <a href="https://www.facebook.com/tec2556"
                target="blank">TEC#7/2N</a>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer End-->
